@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100px;
  background-image: linear-gradient(100deg, #feff24, #d87771);
}

.calculator-body {
  border: 1px solid rgb(69, 156, 238);
  background: cyan;
  background-image: linear-gradient(100deg, cyan, #d3e4c3);
  border-radius: 20px;
  top: 60%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  width: 420px;
}
.big-title {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 50px;
  margin-left: center;
  margin-right: center;
  color: #2d8a02;
  font-size: 40px;
}

.calculator-keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  padding: 20px;
}

button {
  height: 60px;
  background-color: #fff;
  border-radius: 15px;
  border: 2px solid #66d2e0;
  background-color: transparent;
  font-size: 2rem;
  color: rgb(37, 36, 36);
}

button:hover {
  background-color: #71cef3;
}

.operator {
  color: #337cac;
}

.all-clear {
  background-color: #ff1a22;
  border-color: #ff1a22;
  color: rgb(0, 0, 0);
}

.all-clear:hover {
  background-color: #f17377;
}

.equal-sign {
  background-color: #4297cf;
}
.equal-sign:hover {
  background-color: #74aed4;
}

.delete {
  background-image: url(delete.png);
  background-size: cover;
  background-color: #4cd6bf;
  background-position: center;
}
.screen {
  color: white;
  background-color: black;
  border-radius: 10px;
  margin-bottom: 10px;
  height: 50px;
  width: 420px;
  text-align: right;
}
